[Desktop Entry]
Name=Viber
Exec=/mnt/JAJS600M2TB/AppImage/viber.AppImage
Icon=/home/clint/.local/share/applications/viber.svg
Type=Application
Categories=Communication;
Comment=Free and secure calls and messages to anyone, anywhere
